.homeContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;

  padding-top: 5rem;

  .filterContainer{
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 10px;
    background: #f43434;
    position: fixed;
    top: 20%;
    right: 3rem;
    padding: 1.5rem;
    transition: width 0.5s, height 0.5s;
    overflow: hidden;

    .filterContent{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: opacity 2.5s;
    }
    
    .filterMobileIcon{
      display: none;
    }

    span{
      margin-left: 0.75rem;
      color: #fff;
    }

    .clearFilterButton{
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 1.75rem;
    }

    button{
      border: none;
      background: #fff;
      border-radius: 50%;
      font-size: 0;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.75rem;
      cursor: pointer;
    }

    .specieFilterContainer{
      display: flex;
      flex-wrap: wrap;
    }

    .genderFilterContainer{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.75rem;
    }

    .distanceFilterContainer{
      margin-bottom: 1.75rem;
      input[type=range]{
        color: #12baba;
      }
    }
  }

  .loadMoreContainer{
    margin: 3.75rem 0;

    button{
      border: none;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &:hover{
        filter: brightness(0.9);
      }
    }
  }
}

@media(max-width: 768px){
  .homeContainer{
    .filterContainer{
      height: 3rem;
      width: 3rem;
      top:5.5rem;
      right: 1rem;

      &.filterContainerMobileOpened{
        height: 31.5rem;
        width: 15rem;

        .filterContent{
          opacity: 1;
          visibility: visible;
        }
      }

      .filterMobileIcon{
        display: flex;
        height: 100%;
        align-items: center;
        width: 100%;
        justify-content: center;
  
        button{
          border: none;
          background: transparent;
          cursor: pointer;
  
          color: #fff;
        }
      }
      .filterContent{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}